<ul class="nav nav-tabs m-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab : 0 }">Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab : 1 }">Investments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab : 2 }">Outcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab : 3 }">Loans</a>
  </li>
</ul>

<div class="tab-content m-5">
  <div *ngIf="tab === '0'" class="tab-pane fade show active">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Account</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items.data;">
        <td *ngIf="item.type === 'income'">{{ item.name.first + " " + item.name.last }}</td>
        <td *ngIf="item.type === 'income'">{{ item.amount + " " + item.type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="tab === '1'" class="tab-pane fade show active">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Account</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items.data;">
        <td *ngIf="item.type === 'investment'">{{ item.name.first + " " + item.name.last }}</td>
        <td *ngIf="item.type === 'investment'">{{ item.amount + " " + item.type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="tab === '2'" class="tab-pane fade show active">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Account</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items.data;">
        <td *ngIf="item.type === 'outcome'">{{ item.name.first + " " + item.name.last }}</td>
        <td *ngIf="item.type === 'outcome'">{{ item.amount + " " + item.type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="tab === '3'" class="tab-pane fade show active">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Account</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items.data;">
        <td *ngIf="item.type === 'loan'">{{ item.name.first + " " + item.name.last }}</td>
        <td *ngIf="item.type === 'loan'">{{ item.amount + " " + item.type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
