<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Navbar</a>
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Main <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/navigator">List Service</a>
    </div>
  </div>
</nav>

<div class="m-5 text-center">
  <!-- HEADING CARD -->
  <div class="card text-center m-3">
    <div class="card-header">
      Heading-card
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">See transactions</a>
    </div>
    <div class="card-footer text-muted">
      You have {{ items.total }} transactions
    </div>
  </div>
  <!-- SMALL CARDS ROW-1 -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ this.countByType("income") }}</h5>
          <p class="card-text">Income</p>
          <a routerLink="/navigator" class="btn btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ this.countByType("investment") }}</h5>
          <p class="card-text">Investments</p>
          <a href="#" class="btn btn-primary">See all</a>
        </div>
      </div>
    </div>
  </div>
  <!-- SMALL CARDS ROW-2 -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ this.countByType("outcome") }}</h5>
          <p class="card-text">Outcome</p>
          <a href="#" class="btn btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ this.countByType("loan") }}</h5>
          <p class="card-text">Loans</p>
          <a href="#" class="btn btn-primary">See all</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
